.login-container {
  width: 100%;
  height: 100%;
  background-image: url(../../assets/images/login-bg.jpg);

  .login-form {
    position: absolute;
    top: 20%;
    right: 10%;
    width: 400px;
    height: 250px;
    padding: 20px 35px;
    background-color: lightgray;
    border-radius: 10px;

    h2 {
      text-align: center;
      margin-bottom: 20px;
    }
    .login-form-forgot {
      float: right;
    }
    .login-form-button {
      width: 100%;
    }
    nz-spin {
      span {
        margin-top: 10px;
      }
    }
  }
}
