<div echarts [options]="option" [merge]="mergeOption"
     style="height: 100%; width: 100%;" [loading]="dataLoading"></div>
<div class="chart-title">{{title}}</div>
<div class="custom-legend">
  <div class="legend-block">
    <span class="legend-title">相同环境PUE值=</span>
    <span class="legend-value origin-text">1.34</span>
  </div>

  <div class="legend-block">
    <span class="legend-title">调节之前PUE值=</span>
    <span class="legend-value changed-text">1.34</span>
  </div>

  <div class="legend-block">
    <span class="legend-title">调节之后PUE值=</span>
    <span class="legend-value ref-text">1.34</span>
  </div>
</div>
