<div class="container">
  <div class="headers">
    <span class="title">
      能耗状态
    </span>
    <div class="select-group">
      <span class="select-title">时间段:</span>
      <nz-select [(ngModel)]="date" [nzPlaceHolder]="'选择时间段'" class="select-ui" (ngModelChange)="changeRange($event)">
        <nz-option *ngFor="let o of rangeList" [nzValue]="o.value" [nzLabel]="o.label"></nz-option>
      </nz-select>
    </div>
  </div>

  <div class="chart-block">
    <div class="whole-block">
      <app-lines-chart [title]="'计算中心PUE趋势图'" [barData]="barData" #lineChart></app-lines-chart>
    </div>
  </div>
  <div class="chart-block">
    <div class="whole-block">
      <app-stack-bar [title]="'IT设备与制冷设备耗电量趋势图'" [barData]="stackData" #stackBar></app-stack-bar>
    </div>
  </div>
  <div class="chart-block">
    <div class="short-block">
      <app-peec-bar #peecBar1
        [hasLine]="false"
        [title]="'制冷系统耗电量日分布统计（最近1年）'"
        [selfColors]="['#008000']" ></app-peec-bar>
    </div>
    <div class="long-block">
      <app-peec-bar  [title]="'制冷设备日均耗电量排名（最近1年）'" [showLabel]="showLabel"  #peecBar2></app-peec-bar>
    </div>
  </div>
  <div class="chart-block">
    <div class="short-block">
      <app-peec-bar #peecBar3  [showLabel]="showLabel"  [title]="'制冷系统耗电量周分布统计（最近1年）'"></app-peec-bar>
    </div>
    <div class="long-block">
      <app-peec-bar #peecBar4  [title]="'制冷系统耗电量年分布统计（最近1年）'"></app-peec-bar>
    </div>
  </div>
  <div class="chart-block">
    <div class="whole-block">
      <app-peec-bar #peecBar5 [selfColors]="['#008000']"  [title]="'制冷系统耗电量月分布统计（最近1年）'"></app-peec-bar>
    </div>
  </div>
</div>
