<div class="container">
  <div class="headers">
    <span class="title">
      流量与缓存状态
    </span>
    <div class="select-group">
      <span class="select-title">选择站点:</span>
      <nz-select [(ngModel)]="date" [nzPlaceHolder]="'选择站点'" class="select-ui">
        <nz-option *ngFor="let o of rangeList" [nzValue]="o.value" [nzLabel]="o.label"></nz-option>
      </nz-select>
      <span class="select-title">时间段:</span>
      <nz-select [(ngModel)]="date" [nzPlaceHolder]="'选择时间段'" class="select-ui">
        <nz-option *ngFor="let o of rangeList" [nzValue]="o.value" [nzLabel]="o.label"></nz-option>
      </nz-select>
    </div>
  </div>

  <div class="chart-block" *ngIf="!loading">
    <div class="whole-block">
      <app-double-yaxis-chart [title]="'流量与请求次数趋势图'" [barData]="trafficData"></app-double-yaxis-chart>
    </div>
  </div>
  <div class="chart-block" *ngIf="!loading">
    <div class="whole-block">
      <app-line-chart-v [title]="'缓存利用率趋势图'" [barData]="cacheData"></app-line-chart-v>
    </div>
  </div>
  <div class="chart-block" *ngIf="!loading">
    <div class="short-block">
      <app-double-yaxis-chart [title]="'近1年 流量与请求次数日分布统计'" [selfColors]="colors" [barData]="dayData">
      </app-double-yaxis-chart>
    </div>
    <div class="long-block">
      <app-double-yaxis-chart [title]="'近1年 流量与请求次数月分布统计'" [selfColors]="colors" [barData]="monthData">
      </app-double-yaxis-chart>
    </div>
  </div>
  <div class="chart-block" *ngIf="!loading">
    <div class="short-block">
      <app-double-yaxis-chart [title]="'近1年 流量与请求次数周分布统计'" [selfColors]="colors" [barData]="weekData">
      </app-double-yaxis-chart>
    </div>
    <div class="long-block">
      <app-double-yaxis-chart [title]="'近1年 流量与请求次数年分布统计'" [selfColors]="colors" [barData]="yearData">
      </app-double-yaxis-chart>
    </div>
  </div>
</div>
