<div class="container">
  <div class="headers">
    <span class="title">
      流量与缓存状态
    </span>
    <div class="select-group">
      <span class="select-title">选择站点:</span>
      <nz-select [(ngModel)]="station" nzPlaceHolder="选择站点" class="select-ui">
        <nz-option *ngFor="let i of stations" [nzValue]="i.value" [nzLabel]="i.label"></nz-option>
      </nz-select>
      <span class="select-title">时间段:</span>
      <nz-select [(ngModel)]="time" nzPlaceHolder="选择时间段" class="select-ui">
        <nz-option *ngFor="let i of timeInterval" [nzValue]="i.value" [nzLabel]="i.label"></nz-option>
      </nz-select>
    </div>
  </div>

  <div class="chart-block">
    <div class="whole-block">
      <app-double-y-axes [title]="'流量与请求次数趋势图'" [$]="trafficData" [loading]="loading"></app-double-y-axes>
    </div>
  </div>
  <div class="chart-block">
    <div class="whole-block">
      <app-double-lines [title]="'缓存利用率趋势图'" [$]="cacheData" [loading]="loading"></app-double-lines>
    </div>
  </div>
  <div class="chart-block">
    <div class="short-block">
      <app-double-y-axes [title]="'近1年 流量与请求次数日分布统计'" [selfColors]="colors" [$]="dayData" [loading]="loading">
      </app-double-y-axes>
    </div>
    <div class="long-block">
      <app-double-y-axes [title]="'近1年 流量与请求次数月分布统计'" [selfColors]="colors" [$]="monthData" [loading]="loading">
      </app-double-y-axes>
    </div>
  </div>
  <div class="chart-block">
    <div class="short-block">
      <app-double-y-axes [title]="'近1年 流量与请求次数周分布统计'" [selfColors]="colors" [$]="weekData" [loading]="loading">
      </app-double-y-axes>
    </div>
    <div class="long-block">
      <app-double-y-axes [title]="'近1年 流量与请求次数年分布统计'" [selfColors]="colors" [$]="yearData" [loading]="loading">
      </app-double-y-axes>
    </div>
  </div>
</div>
