<div class="container">
  <div class="headers">
    <span class="title">
      硬盘状态
    </span>
    <div class="select-group">
      <span class="select-title">时间段:</span>
      <nz-select [(ngModel)]="date" [nzPlaceHolder]="'选择时间段'" class="select-ui" (ngModelChange)="changeRange($event)">
        <nz-option *ngFor="let o of rangeList" [nzValue]="o.value" [nzLabel]="o.label"></nz-option>
      </nz-select>
    </div>
  </div>

  <div class="chart-block">
    <div class="sub-block">
      <app-one-bar [title]="'硬盘故障次数统计'" #oneBar1></app-one-bar>
    </div>
    <div class="sub-block">
      <app-one-bar  [title]="'主机故障次数统计'" #oneBar2></app-one-bar>
    </div>
    <div class="sub-block">
      <app-one-bar [selfColors]="['#4472c4']"  [title]="'硬盘型号故障次数统计'" #oneBar3
                      [hasLine]="hasLine" [showLabel]="showLabel"></app-one-bar>
    </div>
  </div>
  <div class="chart-block">
    <div class="pie-block">
      <app-hoop-pie [title]="'全部硬盘容量比例'" #onePie1></app-hoop-pie>
    </div>
    <div class="pie-block">
      <app-hoop-pie [title]="'故障硬盘容量比例'" #onePie2 ></app-hoop-pie>
    </div>
    <div class="pie-block">
      <app-hoop-pie [title]="'全部硬盘品牌比例'" #onePie3 ></app-hoop-pie>
    </div>
    <div class="pie-block">
      <app-hoop-pie [title]="'故障硬盘品牌比例'" #onePie4 ></app-hoop-pie>
    </div>
  </div>
  <div class="chart-block">
    <div class="sub-block">
      <app-trend-line  [title]="'硬盘故障次数趋势'" #lineChart1></app-trend-line>
    </div>
    <div class="sub-block">
      <app-trend-line  [title]="'硬盘故障率趋势'" #lineChart2></app-trend-line>
    </div>
    <div class="sub-block">
      <app-trend-line  [title]="'硬盘故障容量趋势'" #lineChart3></app-trend-line>
    </div>
  </div>
  <div class="chart-block">
    <div class="short-block">
      <app-one-bar  [showLabel]="showLabel"  [title]="'硬盘故障次数周分布统计(最近1年）'" #oneBar7></app-one-bar>
    </div>
    <div class="long-block">
      <app-one-bar  [title]="'硬盘故障次数年分布统计(最近1年）'" #oneBar8></app-one-bar>
    </div>
  </div>
  <div class="chart-block">
    <div class="whole-block">
      <app-one-bar [selfColors]="['#008000']"  [title]="'硬盘故障次数月分布统计(最近1年）'" #oneBar9></app-one-bar>
    </div>
  </div>
</div>
