<div  class="container">
  <div class="headers">
    <span class="title">
      模型训练
    </span>
    <div class="run-group">
      <div class="run-info">
        <span class="run-time">最近训练时间：2022/04/22 12:20:00</span>
        <span class="run-rate">MAE：0.0035  |  MSE：2.5524e-05</span>
      </div>
      <div class="run-bt">
        <span nz-icon nzType="play-circle" nzTheme="outline" class="span-icon-bt"></span>
      </div>
    </div>
  </div>

  <div class="time-groups">
    <div class="sub-block">
      <span class="block-title">train_time</span>
      <div class="block-input">
        <nz-select [(ngModel)]="selectedModel" (ngModelChange)="modelChange($event)">
          <nz-option *ngFor="let p of trainingTimeList" [nzValue]="p.value" [nzLabel]="p.label"></nz-option>
        </nz-select>
      </div>
    </div>

    <div class="sub-block">
      <span class="block-title">训练集划分</span>
      <div class="block-input">
        <input nz-input placeholder="Please input" [(ngModel)]="currentParams.train_data" />
      </div>
    </div>

    <div class="sub-block">
      <span class="block-title">metric</span>
      <div class="block-input">
        <input nz-input placeholder="Please input" [(ngModel)]="currentParams.metric" />
      </div>
    </div>

  </div>

  <div class="setting-groups">

    <div class="sub-block">
      <span class="block-title">learning_rate</span>
      <div class="block-input">
        <input nz-input placeholder="Please input" [(ngModel)]="currentParams.learinin_rate" />
      </div>
    </div>
    <div class="sub-block">
      <span class="block-title">num_leaves</span>
      <div class="block-input">
        <input nz-input placeholder="Please input" [(ngModel)]="currentParams.num_leaves" />
      </div>
    </div>
    <div class="sub-block">
      <span class="block-title">subsample_freq</span>
      <div class="block-input">
        <input nz-input placeholder="Please input" [(ngModel)]="currentParams.subsample_freq" />
      </div>
    </div>

    <div class="sub-block">
      <span class="block-title">feature_fraction</span>
      <div class="block-input">
        <input nz-input placeholder="Please input" [(ngModel)]="currentParams.feature_fraction" />
      </div>
    </div>
    <div class="sub-block">
      <span class="block-title">bagging_fraction</span>
      <div class="block-input">
        <input nz-input placeholder="Please input" [(ngModel)]="currentParams.bagging_fraction" />
      </div>
    </div>
    <div class="sub-block">
      <span class="block-title">iterations</span>
      <div class="block-input">
        <input nz-input placeholder="Please input" [(ngModel)]="currentParams.iterations" />
      </div>
    </div>


  </div>

  <div class="charts-groups">
    <div class="half-block">
      <app-pe-line-chart [title]="'Iterations'" #lineChart1></app-pe-line-chart>
    </div>
    <div class="half-block">
      <app-pe-line-chart [title]="'Iterations'" #lineChart2></app-pe-line-chart>
    </div>
    <nz-spin nzSimple *ngIf="chartLoading" class="loading-ui"></nz-spin>
  </div>

  <div class="table-groups">
    <nz-table #bomTable  nzSize="small"
              nzTableLayout="fixed"
              [nzLoading]="chartLoading"
              [nzScroll]="{y: '160px'}"
              [nzData]="list" [nzShowPagination]="false" [nzFrontPagination]="false"
              nzBordered>
      <thead>
      <tr>
        <th [nzWidth]="'80px'" nzLeft></th>
        <th [nzWidth]="'120px'">MAE</th>
        <th [nzWidth]="'120px'">MSE</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of bomTable.data,index as i" [ngClass]="{'table-odd-row':i%2 !== 0}">
        <td nzLeft>{{ data.name }}</td>
        <td >
          <span>{{ data.mae }}</span>
        </td>
        <td >{{ data.mse }}</td>
      </tr>
      </tbody>
    </nz-table>
  </div>

</div>
